html, body, #map {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

#search {
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 74px;
}

#distancia {
  display: block;
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 74px;
  height: 20px;
  width: 35px;
  text-align: center;
  border-radius: 5px;
  background-color: "#E6E6FA";

}

